{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Search User...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Find What Ever You Want...</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <br><br><br><br><br>
                    <div class="col-10">
                        <div class="card">
                            <div class="card-header">
                                Search User
                            </div>
                            <div class="card-body">
                                <form method="POST" action="{% url 'search_user' %}">
                                    {% csrf_token %}
                                <div class="mb-3">
                                <input type="text" class="form-control"  placeholder="Search User" name="searched">
                                </div>
                                <button type="submit" class="btn btn-secondary">Search</button>
                                </form>
                            </div>
                        </div>
                        <br><br>
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        {% if searched %}
                            {% for usr in searched %}
                    
                    <div class="col-lg-4">
                    
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                {% if usr.profile_picture %}
                                    <img class="rounded-circle me-2" src="{{usr.profile_picture.url}}" style="width: 40px; height: 40px; object-fit: cover;" alt="Profile Picture" />
                                {% else %}
                                    <img class="rounded-circle me-2" src="https://dummyimage.com/40x40/ced4da/6c757d.jpg" style="width: 40px; height: 40px; object-fit: cover;" alt="Default Avatar" />
                                {% endif %}
                                
                                    {{usr.user.username}}
                                    
                                <a style="margin: 10px; position: absolute; right: 5px;" class="btn btn-primary" href="{% url 'user_profile_page' username=usr.user.username %}">Show</a>

                            </div>
                        </div>
                        
                    </div>
                </div>
                    
                            {% endfor %}
                        {% endif %}

                        </div>
                    </div>
                    <br><br><br><br><br>
                </center>
            </div>
        </div>
{% endblock %}